.form-social-media {
    display: flex;
    align-items: center;
}

.form-social-media > p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

.form-icons-container {
    display: flex;
    align-items: center;
}

.form-icons-container svg {
    margin: 0 5px;
}